@use "./variable" as *;


*,
body {
    font-family: var(--font-body), sans-serif;
}

.section-padding {
    padding: 56px 0;

    @media(max-width:1200) {
        padding: 60px 0;
    }

    @media(max-width:768) {
        padding: 40px 0;
    }

    @media(max-width:576) {
        padding: 30px 0;
    }
}

.section-padding-2 {
    padding: 124px 0;

    @media(max-width:1200) {
        padding: 90px 0;
    }
}

.secondary-bg {
    background-color: $secondary-bg-color;
}

.secondary-color {
    color: $secondary-color !important;
}

.trinery-bg {
    background-color: $trinery-bg-color;
}

.white-color {
    color: $text-color-light !important;
}

.bg-dark-custom {
    background-color: #101010 !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading), sans-serif;
}

.hero-title,
.hero-span {
    color: $text-color-light;
    font-weight: 900;
    font-size: clamp(2rem, 5vw, 3.5rem);
}

h2 {
    font-size: clamp($font-size-lg-2, 4.5vw, $font-size-3xl) !important;
    font-weight: 600 !important;
    line-height: calc(1.5 / 1.25) !important;

    // @media(max-width: 768px) {
    //     font-size: $font-size-lg-1 !important;
    // }

    // @media(max-width: 576px) {
    //     font-size: $font-size-lg !important;
    // }
}

h3 {
    font-size: $font-size-md-2 !important;
    font-weight: 600 !important;
    line-height: calc(1.75 / 1.25) !important;
}

h4 {
    font-size: $font-size-md-2 !important;
    font-weight: 600 !important;
    line-height: calc(1.5 / 1.125) !important;
}

p {
    font-size: $font-size-base;
    line-height: $line-height-text;
}

.sub-heading {
    font-size: $font-size-md;
    color: $primary-color;
}

// Common Utilities
.label-sm {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: $font-size-xs;
    color: $primary-color;
}

.label-xs {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: $font-size-xxs;
    color: $primary-color;
    margin-bottom: 1rem;
}

.section-heading {
    font-weight: 800;
    font-size: $fs-hero-3;
    color: $text-color-dark;
}

// section title decorative divider
.decorative-divider .divider-line {
    height: 3px;
    width: 60px;
    background: linear-gradient(to right, transparent, var(--gold), var(--gold-light));
    opacity: 0.7;
}

.decorative-divider .divider-line:last-child {
    background: linear-gradient(to left, transparent, var(--gold), var(--gold-light));
}

.divider-dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--gold);
    margin: 0 4px;
}

.divider-dots .dot-center {
    width: 8px;
    height: 8px;
    background-color: $primary-color;
}

/* Theme Colors (you can adjust globally) */
:root {
    --gold: #d4af37;
    --gold-light: #e6c76b;
}

// title top badge
.sacred-badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 999px;
    background-color: #FFF0E4;
    font-size: 14px;
    font-weight: 500;

    .icon {
        font-size: 14px;
        color: $primary-color;
    }

    .text {
        color: $primary-color;
    }
}


/* Button */
.btn-whatsapp {
    background-color: $color-green-500;
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
        background-color: $color-green-600;
        color: $text-color-light;
    }
}

.primery-btn {
    background-color: $primary-color !important;
    color: $text-color-light !important;
    border: none;
    border-radius: $border-radius-md;
    padding: 16px 32px;
    transition: all 0.2s ease-in;

    &:hover {
        background-color: $primary-color;
    }
}

.primery-btn-style-2 {
    background-color: $bg-light;
    color: $primary-color;
    border: 2px solid;
    border-color: $primary-color;
    border-radius: $border-radius-md;
    padding: 16px 32px;
    transition: all 0.2s ease-in;

    &:hover {
        background-color: $primary-color;
        color: $text-color-light;
    }
}

// cards
.sacred-dest-card,
.tour-package-card,
.rental-car-card,
.hotel-card,
.blog-card,
.history-card {
    border-radius: $border-radius-xl !important;
    transition: all 0.2s ease-in;

    .card-img-top {
        transition: all 0.3s ease-in;
        aspect-ratio: 4/3;
    }

    &:hover {
        .card-img-top {
            transform: scale(1.1);
        }

        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1) !important;
    }
}

.sacred-destinations {
    border-radius: $border-radius-xl !important;
    transition: all 0.2s ease-in;

    .card-img-top {
        transition: all 0.3s ease-in;
        aspect-ratio: 4/5;
    }
}

// for background overyal in the card top image
.card-image-wrapper {
    position: relative !important;

    &::before {
        position: absolute !important;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
        z-index: 2;
    }
}

.card-body {
    display: grid;
    padding: 24px;
}

.sd-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    z-index: 3;
}

// trinery card features badge
.features-badge {
    background-color: $trinery-bg-color;
    padding: 4px 12px;
    font-size: $font-size-xs;
    z-index: 3;
    font-weight: 400 !important;
}

.text-brand-orange {
    color: $primary-color;
    font-weight: 500;
}

.primery-color {
    color: $primary-color !important;
}



// booking form
.booking-form-page {
    background-color: $trinery-bg-color;
}

.bg-warning-light {
    background-color: $bg-light;
}

.custom-input {
    background-color: $bg-light !important;
    border: none !important;
    padding: 12px 18px !important;
    border-radius: 10px !important;
    font-size: 0.95rem;

    &:focus {
        box-shadow: 0 0 0 2px rgba(255, 106, 0, 0.2) !important;
        background-color: $bg-light !important;
    }
}

.info-card {
    background-color: $bg-light;
}

.h-fit {
    height: fit-content;
}

// filter search

.search-fleet-container {
    width: 100%;
    margin: 0 auto;
    // padding: 0 15px;
    position: relative;
    z-index: 20;
    // This makes it float over the hero section
}

.search-fleet-card {
    background: $bg-light;
    border-radius: $border-radius-xl; // Very rounded as per image
    padding: 30px 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 25px;
    align-items: flex-end;

    @media (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
        border-radius: 25px;
        padding: 25px;
    }

    @media (max-width: 575px) {
        grid-template-columns: 1fr;
        margin-top: -30px;
    }
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-label {
    font-size: $font-size-base;
    font-weight: 800;
    color: $primary-color; // Deep brown text
    letter-spacing: 0.5px;
    padding-left: 5px;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .filter-input {
        width: 100%;
        background: $trinery-bg-color; // Light beige/grey background
        border: none;
        border-radius: 15px;
        padding: 14px 20px;
        font-size: 15px;
        color: #333;
        font-weight: 500;
        appearance: none;
        outline: none;
        cursor: pointer;

        &::placeholder {
            color: #888;
        }

        &:focus {
            background: #eeebe6;
        }
    }

    .input-icon-right {
        position: absolute;
        right: 18px;
        color: $primary-color;
        pointer-events: none;
    }
}

.search-fleet-btn {
    background: $primary-color; // Exact burnt orange color
    color: $text-color-light;
    border: none;
    border-radius: 15px;
    padding: 14px 35px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
    }

    span {
        color: $text-color-light;
        white-space: nowrap;
    }

    @media (max-width: 991px) {
        width: 100%;
        justify-content: center;
    }
}

// home page demo design

.montez-sub-heading {
    font-family: var(--font-montez), cursive;
    font-size: $font-size-lg-3;
    color: $text-color-light;
}

.homepage-demo-design {}

// services tab
.services-section {

    .nav-tab-count {
        background-color: $bg-light;
        padding: 10px;
        border-radius: $border-radius-round;

    }

    .nav-pills .nav-link {
        background-color: $trinery-bg-color;
        color: $text-color-dark;
        font-weight: 600;
        font-size: $font-size-base;
        padding: 12px 24px;
        border-radius: $border-radius-round;
        transition: all 0.2s ease-in;
        // border: 2px solid transparent;

        &:hover {
            color: $primary-color;
            border-color: $primary-color;
        }

        &.active {
            background-color: $primary-color !important;
            color: $text-color-light !important;
            // border-color: $primary-color;
        }
    }

    // services card
    .service-item-card {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $border-radius-xl;
        width: 100%;
        height: clamp(390px, 39vw, 497px);
        padding: 20px;

        // @media(max-width:1400px){
        //     height: 494px;
        // }

        &:after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            // transition: var(--transition);
            border-radius: 18px;
            background: linear-gradient(rgba($bg-drak, 0.3), rgba($bg-drak, 0.8));
        }

        .service-item-badge {
            position: absolute;
            top: 50px;
            left: 0;
            background-color: $primary-color;
            width: fit-content;
            color: $text-color-light;
            padding: 8px 14px;
            border-radius: 0 30px 30px 0;
            font-size: $font-size-sm;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .service-item-card-content {
            height: auto;
            color: $text-color-light;

            .card-divider {
                width: 100%;
                height: 2px;
                background-color: $bg-light;

            }
        }

        .service-item-card-text,
        .service-item-card-text span {
            font-size: $font-size-md !important;
        }

        .service-item-card-title {
            font-size: $font-size-lg-1 !important;
        }

        .service-btn {
            color: $text-color-light;
            background: none;
            border: none;

            &:hover {
                color: $primary-color !important;
            }
        }
    }

}

.top-divider {
    background-image: url("/images/bg-divider-1.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    // top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

.bottom-divider {
    background-image: url("/images/bg-divider-bottom.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    // top: 0;
    left: 0;
    width: 100%;
    height: 89px;
}

.td-trinery-bg {
    filter: brightness(0.9) sepia(0.5) saturate(1) hue-rotate(-36deg);
}

.bd-light-bg {
    filter: contrast(0.95);
}

.d-black-filter {
    filter: brightness(0.07);
}

.td-top {
    top: -2px;
}

.bd-bottom {
    bottom: -2px;
}


.divider-filter02 {
    filter: invert(0.02);
}

.text-md {
    font-size: $font-size-md !important;
    line-height: 1.65;
    color: $text-color-dark;
    opacity: 0.7;

    @media(max-width:1200px) {
        font-size: $font-size-sm !important;
    }
}

// swiper navigation bnts
.nav-custom-btn {
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: $border-radius-full;
    border: 1px solid $primary-color;
    background-color: $bg-light;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: $primary-color;
        color: $text-color-light;
        border-color: $primary-color;
    }
}