// fonts variable
$poppins: "Poppins", sans-serif;
$inter: "Inter", sans-serif;

// color variable
$primery-bg-color: #f5f5f5;
$secondary-bg-color: #f5f5f5;
$trinery-bg-color: #FFF6E8;
$fouth-bg: #3D3748;
$bg-light: #fff;
$bg-light2: #f9f9f9;
$bg-drak: #2D2838;
$bg-drak-2: #000;
$primary-color: #FF6A00;
// $primary-color: #A14000;
$secondary-color: #CBA533;
$trinery-color: #fff;
$accent-color: #ff6b6b;
$text-color: #4a5565;
$text-color-light: #fff;
$text-color-dark: #111;
$color-green-500: oklch(72.3% 0.219 149.579);
$color-green-600: #20BA5A;
$color-gray-100: oklch(96.7% 0.003 264.542);
$color-gray-200: oklch(92.8% 0.006 264.531);
$color-gray-300: oklch(87.2% 0.01 258.338);
$color-gray-400: oklch(70.7% 0.022 261.325);
$color-gray-500: oklch(55.1% 0.027 264.364);
$color-gray-600: oklch(44.6% 0.03 256.802);

// font size
$font-size-base: 14px;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-md-2: 20px;
$font-size-lg: 24px;
$font-size-lg-1: 28px;
$font-size-lg-2: 30px;
$font-size-lg-3: 32px;
$font-size-xl: 36px;
$font-size-2xl: 40px;
$font-size-3xl: 50px;

// border radius
$border-radius-xm: 4px;
$border-radius-sm: 8px;
$border-radius-sm2: 10px;
$border-radius-md: 12px;
$border-radius-lg: 16px;
$border-radius-xl: 20px;
$border-radius-2xl: 24px;
$border-radius-round: 50px;
$border-radius-full: 50%;

// hero font size
$fs-hero: 80px;
$fs-hero-1: 70px;
$fs-hero-2: 55px;
$fs-hero-3: 45px;
$fs-hero-4: 35px;
$fs-hero-5: 28px;

// line height 
$line-height-heading: 1.2;
$line-height-text: 24px; // for 14px font size
$line-height-sm: 16px; // for 12px font size