@use "../assets/scss/variable" as *;

.hotels-accomodation-section {}

// hotel card
.hotel-card {
    .badge {
        background-color: $trinery-bg-color;
        color: $color-gray-500;
        padding: 6px 12px;
        z-index: 1;
    }

    .badge-left {
        background-color: $primary-color;
        color: $text-color-light;
    }

}

.text-brand-orange {
    color: $primary-color;
    font-weight: 500;
}

.btn-outline-brand-orange {
    color: $primary-color;
    border: 2px solid $primary-color;
    background: $bg-light;

    &:hover {
        background-color: $primary-color;
        color: $text-color-light;
    }
}

/* Card Hover Effect */

.hotel-img-container {
    height: 250px;
    overflow: hidden;

    .card-img-top {
        transition: transform 0.5s ease;
        // width: auto;
        // height: auto;
    }
}

.smaller {
    font-size: 0.75rem;
}

.fill-warning {
    fill: $trinery-bg-color;
}

// hotel form to fill
.booking-modal {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    /* Forces the horizontal scrollbar to vanish */

    /* 2. Hide scrollbar for Chrome, Safari, Opera, and edge chromium profiles */
    &::-webkit-scrollbar {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
    }

    /* 3. Hide scrollbar completely for Firefox */
    scrollbar-width: none !important;

    /* 4. Hide scrollbar for Internet Explorer and Legacy Edge layouts */
    -ms-overflow-style: none !important;

    .modal-content {
        border-radius: $border-radius-xl;
        border: none;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
        overflow-y: auto !important;
        overflow-x: hidden !important;

        &::-webkit-scrollbar {
            display: none !important;
            width: 0 !important;
            height: 0 !important;
        }

        scrollbar-width: none !important;
        -ms-overflow-style: none !important;

        .modal-header {
            flex-shrink: 0;
            align-items: center;
            display: flex;
        }
    }

    .form-control,
    .form-select {
        border: 1px solid $color-gray-200;
        background-color: $bg-light;

        &:focus {
            border-color: $primary-color;
            box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.1);
        }
    }

}


.model-head {
    border-bottom: solid 1px #f2f2f2;
    padding: 0 0 8px;
    margin: 0 0 15px;
    position: relative;
}


.btn-whatsapp {
    background-color: $color-green-500;
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
        background-color: $color-green-600;
        color: $text-color-light;
    }
}