@use "../assets/scss/variable" as *;

.plan-tab-section {

    .accordion-item {
        border-radius: $border-radius-md !important;
    }

    .accordion-button {
        border-radius: $border-radius-md !important;
    }

    .accordion-button:focus {
        box-shadow: none !important;
    }

    .accordion-button:not(.collapsed) {
        background-color: $bg-light;
        border-bottom: 1px solid $color-gray-200;
        border-radius: $border-radius-md !important;
        color: $primary-color;
    }

    .app-btn-box {
        position: absolute;
        bottom: 125px;
        right: -30px;
        width: fit-content;

        a {
            background-color: $bg-light;
            border-radius: $border-radius-full;
        }
    }

    .icon-box {
        height: fit-content;
        padding: 8px;
        background-color: $primary-color;
        color: $text-color-light;
        border-radius: $border-radius-full;
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width:576px) {
            padding: 5px;

            svg {
                width: 18px;
                height: 18px;
            }
        }
    }
}

.image-box {
    // aspect-ratio: 4/3;
    width: 100%;
    height: auto;
    border-radius: $border-radius-md;
}