@use "../assets/scss/variable" as *;

// services tab
.services-section {

    .nav-tab-count {
        background-color: $bg-light;
        padding: 10px;
        border-radius: $border-radius-round;

    }

    .nav-pills .nav-link {
        background-color: $trinery-bg-color;
        color: $text-color-dark;
        font-weight: 600;
        font-size: $font-size-base;
        padding: 12px 24px;
        border-radius: $border-radius-round;
        transition: all 0.2s ease-in;
        // border: 2px solid transparent;

        &:hover {
            color: $primary-color;
            border-color: $primary-color;
        }

        &.active {
            background-color: $primary-color !important;
            color: $text-color-light !important;
            // border-color: $primary-color;
        }


    }

    @media(max-width:576px) {
        .nav-link {
            padding: 10px 14px !important;
        }
    }

    @media(max-width:500px) {
        .nav-tab-count {
            display: flex !important;
            flex-direction: row !important;
            justify-content: flex-start !important;
            overflow-x: auto !important;
            scroll-snap-type: x mandatory !important;
            gap: 1rem !important;
            flex-wrap: nowrap !important;
        }

        .nav-item {
            flex: 0 0 50% !important;

            .nav-link {
                text-align: center !important;
            }
        }
    }

    // services card
    .service-item-card {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $border-radius-xl;
        width: 100%;
        height: clamp(390px, 39vw, 407px);
        padding: 20px;

        // @media(max-width:1400px){
        //     height: 494px;
        // }

        &:after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            // transition: var(--transition);
            border-radius: 18px;
            background: linear-gradient(rgba($bg-drak, 0.3), rgba($bg-drak, 0.8));
        }

        .service-item-badge {
            position: absolute;
            top: 50px;
            left: 0;
            background-color: $primary-color;
            width: fit-content;
            color: $text-color-light;
            padding: 8px 14px;
            border-radius: 0 30px 30px 0;
            font-size: $font-size-base;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .service-item-card-content {
            height: auto;
            color: $text-color-light;

            .card-divider {
                width: 100%;
                height: 2px;
                background-color: $bg-light;

            }
        }

        .service-item-card-text,
        .service-item-card-text span {
            font-size: $font-size-base !important;
        }

        .service-item-card-title {
            font-size: $font-size-md !important;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .service-btn {
            font-size: $font-size-sm !important;
            color: $text-color-light;
            background: none;
            border: none;

            &:hover {
                color: $primary-color !important;
            }
        }
    }

}